body{
	background-color: #2F3A3A;
	font-family: Barlow-Medium;
}

h1{
	font-family: Barlow-Bold;
	margin-top: 40px;
	font-size: 40px;
}

.container {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	color: white;
	padding: 0px;
}

.toast-notification{
	width:100% !important;
}

.vt-center {
  padding-top: 35vh;
}

.input-group-lg{
	padding-left:20px;
	padding-right:20px;
}

.custom-modal{
	background-color: #000000
	color: #FFFFFF;
}

.action-button{
	display: block;
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 100%;
	height: 15vh;
	background-color: #FFFFFF;
	color: #2F3A3A;
	font-size: 2.5em;
	border-radius: 0px;
	border: 0px;//
}

#menu.player{
	margin-bottom: 10px;
	font-size: 1.8em;
}

.player{
	display: block;
	position: relative;
	bottom: 0px;
	left:0px;
	background-color: #FFFFFF;
	color: #2F3A3A;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 1.3em;
	border-radius: 60px;
	border: 0px;//
}

#waitingroom.player{
	background-color:#2F3A3A;
	color:white;
	font-size: 30px;
}

.description{
	margin-top:3vh;
	margin-bottom: 10px;
	font-size: 30px;
	padding-left:40px;
	padding-right:40px;
}

