body{
	background-color: #2F3A3A;
	font-family: Barlow;
	font-weight: 500;
}

h1{
	font-family: Barlow;
	font-weight: 700;
	margin-top: 40px;
	font-size: 40px;
}

.container {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	color: white;
	padding: 0px;
}

.toast-notification{
	width:100% !important;
}

.vt-center {
  padding-top: 35vh;
}

.input-group-lg{
	padding-left:20px;
	padding-right:20px;
}

.custom-modal{
	background: #2F3A3A;
	color: #FFFFFF;
}

.action-button{
	display: block;
	position: fixed;
	left:50%;
	background-color: #FFFFFF;
	color: #2F3A3A;
	font-size: 1.4em;
	font-weight: 500;
	border-radius: 60px;
	border: 0px;
	padding: 0.3em 1.5em;
	transform: translateX(-50%);
}

.action-button.fixed-width{
	width: 8.5em;
}

.top-button{
	bottom:80px;
}

.bottom-button{
	bottom:25px;
}

.menu.custom-button{
	margin-bottom: 10px;
	font-size: 1.8em;
}

.join.custom-button{
	margin-bottom: 10px;
	font-size: 1.5em;
	width: 5em;
	padding-left: 0;
	padding-right: 0;
}

.custom-button{
	font-weight: 500;
	display: block;
	position: relative;
	margin: 0 auto;
	bottom: 0px;
	left:0px;
	background-color: #FFFFFF;
	color: #2F3A3A;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 1.3em;
	border-radius: 60px;
	border: 0px;//
}

.read-nav-button{
	position: fixed;
	background: #FFFFFF;
	border-radius: 60px;
	font-family: Barlow;
	font-size: 1.5em;
	color: #2F3A3A;
	width: 40vw;
	bottom: 0.6em;
}

.read-nav-button.previous-button{
	left: 9%;
}

.read-nav-button.next-button{
	right:9%;
}

.end-game-button{
	display: block;
	width: 8.5em;
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	color: #2F3A3A;
	font-size: 1.4em;
	border-radius: 60px;
	border: 0px;
}

.modal.custom-button{
	margin: 0 auto;
	margin-top: 0.7em;
	margin-bottom: 1em;
	font-size: 0.9em;
	font-weight: 400;
}

.player-list{
	margin-bottom: 15vh;
}

.player{
	margin-bottom: 15px;
}

.waitingroom{
	background-color:#2F3A3A;
	color:white;
	font-size: 30px;
}

.description{
	margin-top:3vh;
	margin-bottom: 10px;
	font-size: 1.5em;
	padding-left:40px;
	padding-right:40px;
}

.description.join{
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	text-align: center;
}

.description.share-modal{
	font-weight: 400;
	font-size: 1.4em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.superlative{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1em;
	padding-right: 1em;
	height: 57%;
	overflow: scroll;
	font-size:2.5em;
	font-weight: 700;
}

/*Small screens*/
@media only screen and (max-width: 768px){
	.ReactModal__Content--after-open{
		font-family: Barlow;
		font-weight: 500;
		left: 10px;
		right: 10px;
		height: auto !important;
		bottom: auto !important;
	}
}

/*Desktop full width*/
@media only screen and (min-width: 768px) {
	.ReactModal__Content--after-open{
		font-family: Barlow;
		font-weight: 500;
		width: 30em;
		margin: 0 auto;
	}

	.container {
	width: 30em;
	}
}

.modal-custom-header{
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.subtitle.next-super{
	display: block;
	position: fixed;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4.5em;
	font-size: 17px;
	color: rgba(255,255,255,0.33);
}

.subtitle.hide-modal{
	display: block;
	position: relative;
	color: rgba(255,255,255,0.3);
	margin: 0 auto;
}

.share-text{
	font-weight: 400;
	font-size: 0.8em;
}

.added-toast{
	position: fixed;
	top:35vh;
	left: 50%;
	transform: translateX(-50%);
}

ol{
	padding-left: 0;
}

.shareModalGameId{
	font-size: 3em;
}

.joinModalGameId{
	text-align: center;
	text-transform:uppercase;
	font-size: 2.5em;
}
